@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, .App, #root{
    height: 100%;
    margin: 0;
    position: absolute;
    font-family: Poppins;
    background-color: #121212;
    color: white;
}
.App, #root{
    width: initial;
}

body{
    width: calc(100% - 60px);
    padding: 30px;
}

body *{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

button{
    font-family: Poppins;
    cursor: pointer;
    color: white;
}

button, img{
    background-color: transparent;
    border: none;
}