@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, .App, #root{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    font-family: Poppins;
    background-color: #121212;
    color: white;
}
.App, #root{
    width: calc(100% - 30px);
}

body *{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

body section{
    padding: 0px 30px 30px 30px;
}

button{
    cursor: pointer;
    color: white;
}

button, input{
    font-family: Poppins;
}

button, img{
    background-color: transparent;
    border: none;
}

section, span{
    display: block;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}